
<section>
    <h2>Create New Post</h2>
    <form class="new-post-form">
        <div>
            <label for="post-title">Title</label>
            <input type="text" id="post-title" name="post-title" />
        </div>
        <div>
            <label for="post-content">Content</label>
            <input type="text" id="post-content" name="post-content" />
        </div>
        <button type="submit" class="btn">Create</button>
    </form>
</section>

{{#if posts.length}}
<section>
    <h2>Your Posts</h2>
    <ol class="post-list">
        {{#each posts as |post|}}
        <li>
            <article class="post">
                <div class="title">
                    <a herf="/posts/{{post.id}}" target="_blank">{{post.title}}</a>
                </div>
                <div class="post-content">
                    {{post.post_content}}
                </div>
                <div class="meta">
                    by {{post.user.username}} on {{format_date post.created_at}}        
                    |
                    <a href="/post/{{post.id}}">{{post.comments.length}} comment(s)</a>
                </div>
            </article>
        </li>
        {{/each}}
    </ol>
</section>
{{/if}}

<script src="/javascript/add-post.js"></script>